.dnd {
  position: absolute;
  display: flex;
  justify-content: space-around;

  color: var(--base-dark);
  background: linear-gradient(to bottom, var(--base) 0%, var(--base-light) 100%);
  height: 100%;
  width: 100%;
  padding: 40px 0 0 0;
}

.dnd h4 {
  margin-bottom: 10px;
  text-align: center;
  color: var(--black);
}

.dnd-column {
  display: flex;
  flex-direction: column;
}

.dnd-title {
  margin: 10px 25px;
  text-align: center;
  color: var(--black);
}

pre {
  padding: 4px;
  font-size: 12px;
  background-color: var(--base);
  border: 1px solid var(--base-dark);
}
