.listitem {
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  text-align: center;

  color: var(--orange-light);
  background-color: var(--orange-medium);
  border: 1px solid var(--orange);

  cursor: move;
}

/* The following are used for the state mainpulation */
.liststate-dragging {
  background-color: var(--orange-dark);
}
