.listitem {
  display: flex;
  justify-content: center;
  height: 40px;
  font-size: 14px;
  line-height: 40px;

  color: var(--orange-light);
  background-color: var(--orange-medium);
  border: 1px solid var(--orange);

  cursor: move;
}

.listitem-over {
  background-color: var(--orange-dark);
}
